* {
  box-sizing: border-box;
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  background-color: #5d7466;
  color: #FFFFFF;
}

header {
  text-align: center;
  border-bottom: 0.5em solid #FFFFFF;
  
}

header h2 {
  font-style: italic;
  font-size: 1.2em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3em;
  font-style: italic;
  text-transform: capitalize;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}