/*****Global Styles*****/

* {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
}

html,
body {
  height: 100%;


}

html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  background-color: #5d7466;
  color: #FFFFFF;
}

img {
  
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

h2 {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 1.5em;
  text-decoration: underline;
}

section#work, section#skills, section#about, section#id {
  border-bottom: 0.5em solid #FFFFFF;
}

/*****Header Styles*****/

header {
  border-bottom: 0.5em solid #FFFFFF;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;

  width: 90%;
  max-width: 1200px;
}

header h1 {
  font-style: italic;
  margin-top: 20px;
  font-weight: 300;
  font-size: 1.875em;
}

header h2 {
  font-style: italic;
  font-size: 0.95em;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 5px;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  font-size: 0.9em;
  font-style: italic;
  text-transform: capitalize;
  font-weight: 100;
  padding-left: 0px;
}

header nav ul li {
  width: 100%;
  font-size: 0.875rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  white-space: nowrap;
}

#contact-link {
  padding: 0.1em 0.3em;
  background: linear-gradient(90deg, #0097b2, #7ed957);
  border-radius: 20px;
}

/*****Main Styles*****/
article h2.portfolio-header {
  display: flex;
  justify-content: center;
}

section#work {
  background-color: rgba(255, 255, 255, 0.5);
}



/*****Footer Styles*****/
footer h2 {
  text-decoration: underline;
}
.social-icons li a {
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.social-icons li {
  list-style: none;
}

.contact-email a {
  text-decoration: none;
color: #FFFFFF;
}

footer a {
  text-decoration: none;
  color: #FFFFFF;
}